<div class="container col-md-5">
  <div class="card bg-dark mb-3">
  <div class="card-header" style="color: white">
   Movimentação de Entrada
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">     
  <form action="/admin/ler-qrcode" method="POST">
<div class="form-group">
    <div id="conslt_form">
     <input class="form-control" id="evento_id"  name="evento_id" value="{{id_evento}}" type="hidden">
     <input class="form-control" id="id_evento_convite" name="id_evento_convite" type="hidden">
     <input class="form-control" id="id_convite" name="id_convite" type="hidden">
     <label for="">Evento</label>
     <input class="form-control mb-2" id="evento_desc" name="evento_desc" type="text" disabled>
     <label for="">Convidado</label>
     <input class="form-control mb-2" id="convidado" name="convidado" type="text" disabled>
      <label for="">Núcleo</label>
     <input class="form-control mb-2" id="nucleo" name="nucleo" type="text" disabled>
     </div>
  </div>
  <button type="button" class="btn btn-success" onclick="leitorQRCode()"><i class="fa-sharp fa-solid fa-qrcode"></i> Ler QRCode</button>
  <input type="hidden" id="qrcode-data" name="qrcodeData">
  <button type="submit" class="btn btn-primary">Gravar</button>
  <div class="alert alert-success" id="msg_success_qrcode" style="margin-top: 10px;display:none;">QRCode lido com sucesso!</div>
   </form>
    </li>
    </ul>
  </div>
</div>


<script>
function leitorQRCode() {
  const leitor = new Instascan.Scanner({ video: document.getElementById('preview') });
  leitor.addListener('scan', function (conteudoQrCode) {
    const evento_id = document.getElementById('evento_id').value;

    const qrcodeData = JSON.parse(conteudoQrCode);

    fetch(`/admin/evento/${qrcodeData._id}`)
    .then(response => response.json())
    .then(convite => {
    // atualizar os campos do formulário com os dados do evento.
    document.getElementById("evento_desc").value = convite.evento.descricao;
    document.getElementById("convidado").value = convite.convidado.nome;
    document.getElementById("nucleo").value = convite.nucleo;
    document.getElementById("id_evento_convite").value = convite.evento._id;
    document.getElementById("id_convite").value = convite._id;
    })
    .catch(error => {
    console.error(error);
    });

    leitor.stop();
    // Fecha a modal
    $('#modal-leitor-qrcode').modal('hide');
    // Exibe mensagem de sucesso
    var qrcode_msg = document.getElementById('msg_success_qrcode');
    var audio = new Audio('/sounds/beep.mp3');
    audio.play();
    qrcode_msg.style.display = 'block';
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      leitor.start(cameras[2]);
      $('#modal-leitor-qrcode').modal('show');
    } else {
      alert('Não foi possível acessar a câmera.');
    }
  }).catch(function (e) {
    console.error(e);
    alert('Ocorreu um erro ao acessar a câmera.');
    alert(e);
  });
}
</script>

<div class="modal fade" id="modal-leitor-qrcode" tabindex="-1" role="dialog" aria-labelledby="modal-leitor-qrcode-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-leitor-qrcode-label">Ler QRCode</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video id="preview"></video>
      </div>
    </div>
  </div>
</div>