<div class="container col-md-5">

<div class="card bg-dark mb-3">
  <div class="card-header" style="color: white">
   Bem vindo!
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        Esse é o sistema de geração de Convites InvitePro. <br><br>
        Verifique se você está logado. E clique em alguma das opções da barra superior para prosseguir. 
</div>
</li>
  </ul>
</div>

